.companyForm {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    margin-right: 1px;
    text-align: center;
    height: 100%;
    padding-left: 10px;
    width: 155px;  
}
.primaryMessage {
    height: 100%;
    width: 100%;
    text-align: center;
}
.pageTwo .primaryMessage {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.explanation {
    font-size: 0.84rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:10px;
}
.btnAdd {
    margin-bottom: 9px;
	margin-left: auto;
    margin-right: auto;
	padding: 4px 8px;
	cursor: pointer;
	background:rgb(76, 175, 80);
	color: rgb(204, 255, 144);
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}
.btnAdd:hover {
    opacity: 0.5;
}

#imageL + .delete-icon{
    color: rgb(10, 76, 199);
}
#imageL:focus + .delete-icon {
	border:solid 1px black;
	border-radius:3px;
}

.companyDetails {
    text-align: left;
    width: 100%;
}
.middleWrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 84%;
}
.wrapLogoImage {
    width: 130px;
	height: 100px;
    margin: 15px auto 0px auto;
}
.wrapLogoImage, .wrapLogoImageForm {
    
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: end;
}
.wrapLogoImage img {
    border-radius: 5px;
    margin: 4px;
}
.previewImg {
    margin-right: 10px;
}
#editCompany .subImgComp {
    width: 70px;
	height: 70px;
    object-fit: cover;
	font-size: 10px;
	margin-bottom: auto;
    border-radius: 5px;
}
#editCompany .wrapBtns {
    margin-top: 10px;
    margin-bottom: 9px;
    margin-left: -3px;
}
#editCompany .wrapBtns button:last-child  {
    margin-left: 4px;
}
#editCompany .changeFoto {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 3px 6px;
    background-color: rgb(255, 254, 231);
    border-radius: 5px;
    border: none;
    position: relative;
}
.wrapBtnsImg .subImg {
    margin: 5px auto auto auto;
    display: flex;
    align-items:center;
}
#editCompany .subImg .dark  {
 
    font-size: 1.2em;
    color:black;
}
.companyProfile {
    margin-left: auto;
	margin-right: auto;
    text-align: center;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:154px;
    height: 100%;
}
.addTelBtn {
    position: relative;
    margin: 0px 6px 0px 0px;
    padding: 0px;
    border: none;
    background:none;
    color:darkgreen;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    vertical-align: middle;
}
.addTelBtn path {
    stroke-width: 30;
}
.addTelPrompt {
    position: absolute;
    bottom:16px;
    right:-74px;
    width: 140px;
    background-color: rgb(248, 232, 207);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: black;
    border: solid 2px rgb(222, 161, 56);  

}
button[data-prompt="remove"] .addTelPrompt{
    right: -54px;
}
button.onlyRemove .addTelPrompt {
    right: -74px;
}

.currentEntries .companyProfile .companyName{
    font-weight: 600;
	margin: 0px 1px 2px -1px;
	border: none;
}

.companyProfile .btnEditProfile{
    font-size: 12px;
    margin-left: auto;
    margin-right:auto;
}
.currentEntries .companyProfile .companyName {
    background-color: rgb(255, 254, 231);
}
.currentEntries .companyProfile p{
	margin: 2px 0px 2px 1px;
}

.companyProfile .wrapLogoImage {
    margin-left: auto;
    margin-right:auto;
}

.currentEntries .companyProfile h4 {
    margin-bottom: 7px;
}
.companyDetails span {
    margin: 2px 0;
    font-size: 12px;
    padding: 4px 4px;
    color: black;
}
.companyForm .inputEditProfile {
    margin: 0;
    margin-left: 0px;
}