.companyForm {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
    height: 100%;
    padding-left: 10px;
    
}
.prevMessage {
    height: 100%;
    width: 100%;
    margin-left: -10px;

}
.explanation {
    font-size: 0.84rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 6px;
    padding-right: 6px;
}
.btnAdd {
    margin-top: 17px;
	margin-left: auto;
    margin-right: auto;
	padding: 4px 8px;
	cursor: pointer;
	background:rgb(76, 175, 80);
	color: rgb(204, 255, 144);
	font-family: "Montserrat", sans-serif;
	font-size: 0.7em;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}
.btnAdd:hover {
    opacity: 0.5;
}
.pageTwo .pageBtn{
    margin: 4px 2px;
} 
#imageL + .delete-icon{
    color: rgb(10, 76, 199);
}
#imageL:focus + .delete-icon {
	border:solid 1px black;
	border-radius:3px;
}

.companyDetails {
    text-align: left;
    margin-top: -6px;
}

.wrapLogoImage{
    margin: 4px auto 0px 0px;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: end;
	width: 130px;
	height: 70px;
}
.wrapLogoImage img {
    border-radius: 5px;
}
#editCompany .subImgComp {
    width: 70px;
	height: 70px;
	font-size: 10px;
	margin-bottom: auto;
    border-radius: 5px;
}
#editCompany .wrapBtns {
    width: 110%;
    margin-top: 8px;
    margin-right: -20px;
    margin-left: -18px;
}
#editCompany .wrapBtns button:last-child  {
    margin-left: 4px;
}
#editCompany .changeFoto {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: baseline;
        padding: 3px 6px;
        background-color: rgb(255, 254, 231);
        border-radius: 5px;
        border: none;
        position: relative;
}
.wrapBtnsImg {
    margin-left: 6px;

}
.wrapBtnsImg .subImg {
    margin: 3px auto 3px auto;
}
#editCompany .subImg .dark  {
    font-size: 1.2em;
    color:black;
}
.companyProfile {
    margin-left: 14px;
    text-align: center;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:152px;
}
.companyName{
    font-weight: 600;
	margin: 0px 14px -3px -5px;
	border: none;
}
.companyProfile .btnEditProfile{
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
}
.currentEntries .companyProfile p{
	padding: 0px 4px;
	margin: 1px 0px 1px 0px;
	background-color: rgb(248, 232, 207);
	border: solid 1px rgb(248, 232, 207);
    border-radius: 5px;
}
.companyProfile .wrapLogoImage {
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
}
.currentEntries .companyProfile h4 {
    margin-bottom: 4px;
}
.companyProfile span {
    font-size: 1.0em;
    padding: 4px 4px;
    color: black;
}