
* main .card {
  min-width: 500px;
  margin-bottom: 50px;
  /* font-size: 1rem; */
  font-family: 'Open Sans', sans-serif;
  margin-right: auto;
  margin-left: auto;
} 
/* .vacancy {
  min-width: 550px;
} */
.vacancy {
  padding-left: 30px;
}
.vacancy h2 {
  margin: 6px;
}
.vacancy h2 span{
  font-weight: normal;
 
}


.vacancy .salary {
  font-size: 1.1rem;
  font-weight: 700;
}

.delete-icon:hover {
  opacity: 0.5;
} 



