
main .card {
  min-width: 500px;
  margin-bottom: 50px;
  background-color:rgb(255, 254, 231);
  opacity: 0.95;
  padding: 20px;
  border-radius:20px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3 );
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.vacancy, .candidate {
  min-width: 550px;
}
.vacancy {
  padding-left: 30px;
}
.vacancy h2 {
  margin: 6px;
}
.vacancy h2 span{
  font-weight: normal;
 
}
.vacancy div {
  font-size: 1rem;
  text-indent: 10px;
}
.vacancy :last-child {
  margin-bottom: 0px;
}

.salary {
  font-weight: 600;
}
.delete-icon {
  float: right;
  color: brown;
  cursor: pointer;
  transform: scale(1.6);
}

.delete-icon:hover {
  opacity: 0.5;
} 

.candidate img {
  float: left;
}
.candidate h3, .candidate h3+p, .candidate img+p {
  margin: 5px 0px 5px 110px;
}
.list :nth-child(6) {
  clear: both;
  text-indent: 15px;
  padding-top: 10px; 
}