.messagePost{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.ok-icon {
    font-size: 40px;

}

.currentEntries .addCompany{
    font-size: 0.7rem;
    padding: 10px 5px;
    width:75%;
    margin-left: 15px;
   
	background-color:#fff;
	border:1px solid rgba(0,0,0,.2);
	border-radius:4px;
	max-height:80vh;
    border-radius: 20px;
	text-align: center;
	overflow-y:hidden;
}
.addCompany h3 {
    margin: 10px;
}