.messagePost{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.ok-icon {
    font-size: 40px;
}