.modalAddDoc{
	max-width:600px;
	margin:40px auto;

}
.profileBook {
	position: relative;
	width: 470px;
	height: 372px;
	margin-left: auto;
	margin-right: auto;
}
.pageOne, .pageTwo {
	position: absolute;	
	top:20px;
	/* border: solid 2px red; */
	position: absolute;

	height: 300px;
}
.pageOne {
	left: 46px;
	padding-left: 20px;
	width: 160px;
}
.profileHead {	
	background:#fff;
	border: solid 2px rgb(3, 87, 116) ;
	border-radius: 10px;
	font-size:13px;
	font-weight: 600;
	text-align:center;
}
.pageOne .profileHead{
	margin:5px 25px 5px 5px;
	padding:2px 3px;
}
.pageTwo .profileHead {
	margin:5px 25px 5px 25px;
	padding:2px 3px;
}
.wrapPrevImage{
	float: right;
    margin-right: 20px;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50px;
	height: 80px;
}
.fileSize {
	float: right;
	margin-right: 20px;

}
.subImg {
	width: 40px;
	height: 40px;
	font-size: 10px;
	color: red;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.profileImgWrap {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 5px;
}
.profileImg {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 0.8s ease; 
	object-fit: cover; 
}
.profileImg.loading {
	opacity: 0;
  }
.profileImg.loaded {
	opacity: 1;
  }
.changeFoto {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: baseline;
	padding: 3px 6px;
	background-color: rgb(255, 254, 231);
	border-radius: 5px;
	border: none;
	position: relative;
}

.delPrevImg{
	border: none;
	background:none;
	padding: none;
	margin-right: -8px;
	margin-left: 7px;
}

.redo-icon, .view-icon, #imageF + .delete-icon, .currentEntries data {
	color: rgb(10, 76, 199);
}
#imageF:focus + .delete-icon {
	border:solid 1px black;
	border-radius:3px;
}
.changeFoto .inputFile {
	width: 25px ;
	top: 0px;
	left: 0px;
}
.pageOne p, .inputEditProfile{
	font-size: 0.8em;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	border-radius: 5px;
}
.pageOne p{
	padding: 0px 4px;
	margin: 1px 14px -1px -5px;
	background-color: rgb(248, 232, 207);
	border: solid 1px rgb(248, 232, 207);
}
.pageOne .mail{
	font-size: 0.7em;
	padding: 0px 2px 1px 2px;
	margin-top: 2px;
	overflow-y: auto;
}
.inputEditProfile{
	width:145px;
	padding: 0px 0px 0px 4px;
	margin: 0px 14px -3px -5px;
	border: none;
	outline: solid 2px rgb(248, 232, 207);
}

.pageOne span {
	font-size: 0.8em;
	font-family: 'Verdana', sans-serif;
}
.btnEditProfile {
	margin-top: 18px;
	margin-left: 19px;
	padding: 4px 8px;
	cursor: pointer;
	background:rgb(222, 161, 56);
	color: rgb(2, 2, 2);
	font-family: "Montserrat", sans-serif;
	font-size: 0.7em;
	font-weight: 600;
	border: none;
	border-radius: 5px;
}
.btnEditProfile:hover {
	background:rgb(251, 143, 93);
}
.wrapBtns {
	margin-top: 18px;
	margin-left: -4px;
}
.wrapBtns button{
	border: none;
	border-radius: 5px;
	/* margin-left: 5px; */
	color:white;
	padding: 4px 6px;
	font-size: 0.7em;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}
.wrapBtns button:hover {
	opacity: 0.7;
}
.wrapBtns button:first-child {
	background-color:brown;
	padding: 4px 14px;
}
.wrapBtns button:last-child {
	background-color:rgb(10, 76, 199);
	margin-left: 9px;
}
.pageTwo {
	right: 46px;
	width: 178px;
}
.pageTwo .delete-icon{
	margin: 4px 2px;
	
}
.currentEntries {
	height: 250px;
	overflow-x: hidden;
}
.currentEntries ol{
	padding-left: 0px;
	margin-left: 14px;
	margin-top: 0px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;

}
.currentEntries ol li {
	overflow-wrap: break-word;
	padding: 2px 2px 6px 6px;
	background-color:rgb(248, 232, 207);
	border-radius: 5px;
	width: 142px;
	
}
.currentEntries ol li:nth-child(even) {
	background:none;
}
.currentEntries ol li button {
	margin: 1px 3px;
}
.currentEntries h4 {
	font-size:small;
	font-weight: 600;
	margin: 0px auto 2px 6px;
}
.currentEntries p{
	margin: 0px;
	font-size:10px;
}
.currentEntries data {
	font-size: 10px;
}
.pageBtn {
	float: right;
	background:none;
	border:none;
	padding: 0px;
}
.pageBtn:has(.del-icon) {
	margin-left: 0px;
}
.redo-icon {
	transform: scale(1.8);
	margin-right: 2px;
}
.redo-icon:hover, .pageBtn:hover {
	opacity: 0.5;
	cursor: pointer;
}
.del-icon {
	margin: 0px;
	background-color:brown;
	color: white;
	border-radius: 4px;
	border: none;
}
.edit-icon {
	color:rgb(222, 161, 56);
	
}
.item {
	height: 13px;
}
.modalConfirm {
	margin: 35% auto;
	padding-top: 5px;
	padding-bottom: 10px;
	z-index: 2;
	background-color: white;
	border-radius:10px;
	border: solid 2px rgb(3, 87, 116);
	width: 130px;
	text-align: center;
}
.modalConfirm p{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: -10px;
}

