.navigation {
    position: fixed;
    box-sizing: border-box; 
    top: 0px;
    right: 0px;
    display:flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: #C4E0D6;
    border: #104B5D 3px solid;
    border-radius: 10px;
    z-index: 50;
    padding: 0 10px 0 10px;
   
}
@media (min-width: 420px) {
   .navigation {
    display: none;
   } 
}
.searchContainer {
    width: calc(100% - 10px) ;
    height: auto;
    
}
.navigation .searchContainer input {
    margin-left: 0px;
}
nav .navigation .btnWrap {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
    /* align-items:center; */
    padding: 0 10px 0 10px;
}
.navigation .addResume {
    width: 100%;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}

.navMenuUseBlock {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.navMenuUseBlock .Userlogo p {
    color: #104B5D;
    font-size: 14px;
    font-weight: 600;
}

.navigation .Userlogo p {
margin-top: 5px;
}