.previewModal, .viewModal {
    position: absolute;
    display: block;
    max-width: 720px;
    width: calc(350px + 30vmax);
    height:auto;
    text-align: left;
    background-color:rgb(196, 224, 214);
    z-index: 10;
    opacity: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;

} 
.viewModal {
  /* top:50px; */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}
.previewModal {
  top: 20px;
  left: 50%; 
  transform: translateX(-50%);
}
.previewContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    width: 100%;
    height: 100%;
    position: relative;
}
.previewHeader {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 40px;
    margin-bottom: 20px;
}
.previewH3 {
    text-align: center;
    margin: 10px 0px 0px;
}
.btnEdit, .btnPublish {
    display:inline-block;
    text-transform: uppercase;
    margin: 1px 35px 0px;
    min-width: 150px;
    padding: 4px 8px;
    cursor: pointer;
    letter-spacing: 0.05rem;
    color: white;
	  font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
	  font-weight: 600;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3 );
    border: none;
	  border-radius: 10px;
}
.btnEdit {
    background-color:brown;
}
.btnPublish {
    background-color:rgb(10, 76, 199);
}
.btnEdit:hover, .btnPublish:hover{
    opacity: 0.8;
}
/* .previewModal .vacancy {
    padding-left: 30px;
  } */
.previewModal .vacancy h2 {
    margin: 6px;
  }
.previewModal .vacancy h3, h4 {
    text-align: left;
    margin: 5px;
  }
/* .previewModal .vacancy p {
    margin: 7px 0px;

  } */
.previewModal .vacancy h3+p{
    margin: 0px 0px 3px 6px;
  }
.previewModal .vacancy h2 span{
    font-weight: normal; 
  }
.previewModal .vacancy div {
    /* font-size: 0.8rem; */
    /* text-indent: 10px; */
    text-align: left;
  }

.previewContent {
    flex-grow: 1; 
    /* overflow-y: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 10px 32px 10px;
}

