
.arrow, .bigUp, .bigDown {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	pointer-events: none;
}
.arrow {
	right: 15px;
}
.Up {
	top: 0%;
	border-width: 0px 6px 10px 6px;
	border-color:  transparent transparent gray transparent;	
}
.Down {
	top: 75%;
	border-width: 10px 6px 0 6px;
	border-color: gray transparent transparent transparent;	
}

.arrowUpBtn, .arrowDowBtn {
	position: absolute;
	z-index: 6;	
	cursor: pointer;
	right: calc(14px + 2%);
	width: 10px;
	height: 25px;
	border: none;
}
.arrowUpBtn {
	top: 45px;		
}
.arrowDowBtn {
	top: 131px;
}
.bigUp, .bigDown {
	z-index: 6;
	cursor: pointer;
	position: absolute;
	right: -3px;
	top: 0px;
}

.bigUp {
	top:0px;
	border-width: 0px 10px 25px 10px;
	border-color:  transparent transparent rgb(110, 110, 110) transparent;
}
.arrowUpBtn:hover > .bigUp, .arrowDowBtn:hover > .bigDown {
	opacity: 0.7;
}

.bigDown {
	
	border-width: 25px 10px 0 10px;
	border-color: rgb(110, 110, 110)transparent transparent transparent;	
}

.selectWill {
	border: solid 1px transparent;
	perspective: 500px;
	position: relative;
	position: absolute;
	left: -10px;
	top: -92px;
	width: 105%;
	height: 190px;
	/* padding-top: -50px; */
}
.closeSelect {
	z-index: 6;
	position: absolute;
	top: 86px;
 	right: 15px;
	height: 30px;
	width: 30px;
	border:none;
	background:none;
	cursor: pointer;
	opacity: 0.5;
}
.closeSelect:hover {
	border: solid 2px black;
	border-radius: 3px;
}
.hidden {
	display: none;
}
.vacList {
	list-style-type:none;
}
.selectWill ul {
	list-style-type: none;
	padding: 0px;
	margin: -20px 5px;
	transform-style: preserve-3d;
	z-index: 7;
}
.selectItem{
	transform-style: preserve-3d;

}
.selectBtn {
	transform-style: preserve-3d;
	display:inline;
	z-index: 6;
	margin:-1px 5px;
	width:90%;
	height:50px;
	background:#fff;
	box-shadow:0px 0px 5px rgba(0,0,0,.2);
	border:none;
	font-size:16px;
	text-align:center;
	padding:0 20px;
	outline:0
}

.one {
	width: 60%;
	transform: perspective(400px) rotateX(65deg) translateY(54px);
	z-index: 1;
	font-size:15px;
}

.two {
	width: 93%;
	transform: perspective(500px) rotateX(30deg) translateY(1px);
	z-index: 2;
	border: solid 1px rgb(180, 180, 180);
	font-size:15px;
}
.three {
	width:98.5%;
	transform:translateX(-2px);
	border: solid 2px rgb(97, 97, 97);
	background-color:rgb(232, 240, 254);
	font-size:16px;
	height:52px;
	z-index: 6;
}

.three:active {
	background-color:rgb(232, 240, 254);
}
.four {
	width: 92%;
	transform: perspective(400px) rotateX(-30deg) translateY(-2px);
	border: solid 1px rgb(180, 180, 180);
	font-size:15px;
} 
.five {
	width: 57%;
	transform: perspective(400px) rotateX(-65deg) translateY(-59px);
	font-size:15px;
}
@media (min-width: 320px) {
	.one{
		font-size:15px;
	}
	.two{
		font-size:16px;
	}
	.three {
	font-size:18px;
	}	
	.four {
		font-size:16px;
	}
	.five {
		font-size:15px;
	}

}

@media (min-width: 570px) {
	
	.vacSelect {
		left: 43px;
		width: calc(90% - 26px);
	}
	.selectWill {
		left: -24px;
		width: 285px;
	}
	.one {
		font-size:15px;
		width: 59%;
		transform: perspective(400px) rotateX(65deg) translateY(56px);
		z-index: 1;
	}
	.two {
		width: 92%;
		transform: perspective(500px) rotateX(34deg) translateY(3px);
		z-index: 2;
		border: solid 1px rgb(180, 180, 180);
		font-size:16px;
	}
	.three {
		width:97.7%;
		transform:translateX(-2px);
		border: solid 2px rgb(97, 97, 97);
		background-color:rgb(232, 240, 254);
		font-size:18px;
		height:52px;
		z-index: 6;
	}
	.three:active {
		background-color:rgb(232, 240, 254);
	}
	.four {
		transform: perspective(400px) rotateX(-34deg) translateY(-3px);
		border: solid 1px rgb(180, 180, 180);
		font-size:16px;
	} 
	.five {
		width: 55%;
		transform: perspective(400px) rotateX(-65deg) translateY(-64px);
		font-size:15px;
	}
}



.darkShadaw {
	position: absolute;
	display: inline-block;
	pointer-events: none;
	width:100%;
	height: 100%;
	z-index: 4;
	top: 5px;
	left: 0;
	border-radius: 75px;
	background: transparent;
    background: linear-gradient(to bottom,
	 rgb(190, 190, 190, 1) 0%,
	 rgba(240, 240, 240, 0.5),
	 rgba(255, 255, 255, 0.1),
	 rgba(255, 255, 255, 0),
	 rgba(255, 255, 255, 0),
	 rgba(255, 255, 255, 0.1),
	 rgba(240, 240, 240, 0.5),
	 rgba(190, 190, 190, 1) 100%);
}
.vacSelect {
	position: absolute;
	z-index: 3;
	background:white;
	padding: 0px 0px;
	left: calc(5% + 3px);
	width: calc(90% - 6px);
	box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.2 );
}



